# ITSF AI Hub Environment Variables Configuration
PUBLIC_SITE_URL=https://ai-hub-webpage-358601432150.europe-west1.run.app
GOOGLE_SCRIPT_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbxL0bx2s0YynFC-cXgHNFEJjBcFZOXjkUhES7FFiA5p1u8AsdHeQ2UtJmPRZPlkW18/exec
