# ITSF AI Hub Environment Variables Configuration
# PUBLIC_SITE_URL: Required at build time (e.g. https://ai.itsmartflex.com for PROD or https://ai-hub-webpage-358601432150.europe-west1.run.app for DEV)
PUBLIC_SITE_URL=https://ai.itsmartflex.com

# PUBLIC_ENV: 'production' for PROD, 'dev' for DEV
PUBLIC_ENV=production

# Contact form Webhook URL placeholder (Replace with actual deployment endpoint)
GOOGLE_SCRIPT_WEBHOOK_URL=https://example.com/api/webhook
